/CoinCurrentTypeActivity_.java
/CoinCountryTypeActivity_.java
/CoinCurrencyTypeActivity_.java
/CountryListActivity_.java
/HomeScreenActivity_.java
/CoinListActivity_.java
/CoinTypeActivity_.java
/CurrenciesActivity_.java
/EventsActivity_.java
/CoinActivity_.java
/EventDetailsActivity_.java
/NewsActivity_.java
/SplashScreenActivity_.java
/NewsDetailsActivity_.java
/ProductDetailActivity_.java
