<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd.snscoins"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hd.snscoins.application.SnSCoreSystem_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/CoinApp" >
        <activity
            android:name=".ui.SplashScreenActivity_"
            android:label="@string/app_name"
            android:logo="@drawable/logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeScreenActivity_"
            android:label=""
            android:logo="@drawable/logo" >
        </activity>
        <activity
            android:name=".ui.CoinsListActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.CoinsActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.CurrenciesActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.CoinsDetailActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.EventsActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.EventDetailsActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.NewsActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.NewsDetailsActivity_"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.BookmarkListActivity_"
            android:label="" >
        </activity>
        <activity android:name=".ui.ValidationActivity_" >
        </activity>
    </application>

</manifest>